/* cube css start*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.viewport {
	position: absolute;
	top: 25%;
	right: 5rem;
	-webkit-perspective: 1600px;
	-moz-perspective: 1600px;
	-ms-perspective: 1600px;
	-o-perspective: 1600px;
	perspective: 1600px;
	-webkit-perspective-origin: 50% 200px;
	-moz-perspective-origin: 50% 200px;
	-ms-perspective-origin: 50% 200px;
	-o-perspective-origin: 50% 200px;
	perspective-origin: 50% 200px;
	-webkit-transform: scale(0.8, 0.8);
	-moz-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
	z-index: 999;
  width: 200px;
  height: 200px;
}
.cube {
	position: relative;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: rotateX(136deg) rotateY(1122deg);
	-moz-transform: rotateX(136deg) rotateY(1122deg);
	-ms-transform: rotateX(136deg) rotateY(1122deg);
	-o-transform: rotateX(136deg) rotateY(1122deg);
	transform: rotateX(136deg) rotateY(1122deg);
}
.cube > div {
	border: 8px solid;
	border-image-slice: 1;
	border-width: 8px;
	border-image-source: linear-gradient(to left, #8d4b0e, #dd9933);
	overflow: hidden;
	position: absolute;
	height: 200px;
	width: 200px;
	background-color: transparent;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	transition: width 0.6s, height 0.6s;
}
.cube > div > div.imgTest {
	width: 100px;
	height: 100px;
}
.cube > div > div.cube__img-wrapper {
	position: relative;
	top: -8px;
	left: -8px;
	width: 200px;
	height: 200px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: color 600ms;
	-moz-transition: color 600ms;
	-ms-transition: color 600ms;
	-o-transition: color 600ms;
	transition: color 600ms;
	cursor: grab;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	transition: height 0.6s, width 0.6s;
}

.cube > div:hover {
	cursor: pointer;
}
.cube > div:active {
	cursor: pointer;
}
.cube > div:first-child {
	-webkit-transform: rotateX(90deg) translateZ(100px);
	-moz-transform: rotateX(90deg) translateZ(100px);
	-ms-transform: rotateX(90deg) translateZ(100px);
	-o-transform: rotateX(90deg) translateZ(100px);
	transform: rotateX(90deg) translateZ(100px);
	/* outline: 1px solid transparent; */
	transition: transform 0.6s;
}
.cube > div:nth-child(2) {
	-webkit-transform: translateZ(100px);
	-moz-transform: translateZ(100px);
	-ms-transform: translateZ(100px);
	-o-transform: translateZ(100px);
	transform: translateZ(100px);
	/* outline: 1px solid transparent; */
	transition: transform 0.6s;
}
.cube > div:nth-child(3) {
	-webkit-transform: rotateY(90deg) translateZ(100px);
	-moz-transform: rotateY(90deg) translateZ(100px);
	-ms-transform: rotateY(90deg) translateZ(100px);
	-o-transform: rotateY(90deg) translateZ(100px);
	transform: rotateY(90deg) translateZ(100px);
	/* outline: 1px solid transparent; */
	transition: transform 0.6s;
}
.cube > div:nth-child(4) {
	-webkit-transform: rotateY(180deg) translateZ(100px);
	-moz-transform: rotateY(180deg) translateZ(100px);
	-ms-transform: rotateY(180deg) translateZ(100px);
	-o-transform: rotateY(180deg) translateZ(100px);
	transform: rotateY(180deg) translateZ(100px);
	/* outline: 1px solid transparent; */
	transition: transform 0.6s;
}
.cube > div:nth-child(5) {
	-webkit-transform: rotateY(-90deg) translateZ(100px);
	-moz-transform: rotateY(-90deg) translateZ(100px);
	-ms-transform: rotateY(-90deg) translateZ(100px);
	-o-transform: rotateY(-90deg) translateZ(100px);
	transform: rotateY(-90deg) translateZ(100px);
	/* outline: 1px solid transparent; */
	transition: transform 0.6s;
}
.cube > div:nth-child(6) {
	-webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
	-moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
	-ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
	-o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
	transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
	/* outline: 1px solid transparent; */
	transition: transform 0.6s;
}
object {
	opacity: 0.5;
}
object:hover {
	opacity: 1;
}
.cube__link {
	width: 140%;
	height: 140%;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	touch-action: none;
	-webkit-user-drag: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cube__img-source {
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	touch-action: none;
	-webkit-user-drag: none;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  width: 100%;
  min-width: 290px;
  height: auto;
	min-height: 290px;
}
.side-interest {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	height: 90px;
	width: 200%;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
}
.si-scores {
	width: 100%;
	padding: 0;
	color: #f2f2f2;
	text-shadow: 1px 3px 13px rgba(0,0,0,0.2);
}
.si-score__text {
	position: relative;
	margin: 0 auto;
	font-size: 60px;
	line-height: 85px;
	text-align: center;
	font-weight: 600;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.si-score__text span {
	position: absolute;
	display: inline-block;
	line-height: 24px;
	font-size: 20px;
	bottom: 0px;
	left: 55%;
}


.blank {
	background-color: transparent;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: move;
	-webkit-touch-callout: none;
	-moz-touch-callout: none;
	-ms-touch-callout: none;
	-o-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	touch-action: none;
	user-select: none;
}
.viewport-resizer {
	height: 100px !important;
	width: 100px !important;
}

div[data-resize] {
	height: 100px !important;
	width: 100px !important;
}
img[data-resize] {
	max-width: 150px !important;
	min-width: 150px !important;
	min-height: 120px !important;
}
.side-interest[data-resize] {
	height: 50px;
}
.side-interest[data-resize] .si-score__text {
	font-size: 34px;
	line-height: 50px;
}
.side-interest[data-resize] span {
	display: none;
}

/* cube rtl styles */
html[dir="rtl"] .viewport {
	left: 5rem;
	right: unset;
}
html[dir="rtl"] .si-scores {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
html[dir="rtl"] .cube>div>div.cube__img-wrapper {
	bottom: -9px;
	right: -9px;
}

/* cube media */
@media (max-width: 640px) {
	.viewport {
		-webkit-transform: scale(0.6, 0.6);
		-moz-transform: scale(0.6, 0.6);
		-ms-transform: scale(0.6, 0.6);
		-o-transform: scale(0.6, 0.6);
		transform: scale(0.6, 0.6);
	}
}
